
.DS_Store
*.xcuserstate
*.xcuserstate
FinMan.xcodeproj/project.xcworkspace/xcuserdata/karthick.xcuserdatad/UserInterfaceState.xcuserstate
FinMan.xcodeproj/project.xcworkspace/xcuserdata/karthick.xcuserdatad/UserInterfaceState.xcuserstate
GoogleService-Info.plist
