<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658113862821-0qs5ns9pfjrdjkl9d5gde9no76nipm9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658113862821-0qs5ns9pfjrdjkl9d5gde9no76nipm9h</string>
	<key>API_KEY</key>
	<string>AIzaSyCv6R-wVTPDa-4eyzqUgcT6VyERgOwEdLw</string>
	<key>GCM_SENDER_ID</key>
	<string>658113862821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallow-tech.FinMan</string>
	<key>PROJECT_ID</key>
	<string>finman-d3cd8</string>
	<key>STORAGE_BUCKET</key>
	<string>finman-d3cd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658113862821:ios:07c3a97df583c477fb814c</string>
</dict>
</plist>